.editor-styles-wrapper {
  .wp-block-captainwp-interview {

    .interview__title {
      font-size: 21.6px;
    }

    .interview__title,
    .interview__work {
      margin: 0;
    }

    .interview__desc p {
      font-size: 16px;
    }

    .interview__meta,
    .interview__award {
      font-family: 'Rubik', sans-serif;
    }
  }
}