.edit-post-visual-editor {

  .interview__title {
    font-size: 21.6px;
  }

  .interview__title,
  .interview__work {
    margin: 0;
  }

  .interview__meta,
  .interview__award {
    font-family: 'Rubik', sans-serif;
  }
}
