@import '../../styles/vars.scss';

.wp-block-capitainewp-alert {
	margin: $content-margin 0;
  padding: $pad-xs;
  border-radius: $radius;

	a {
		color: white;
		text-decoration: underline;
	}
}

.wp-block-capitainewp-alert__title {
  margin: 5px 0;
	font-weight: bold;
}

// Icon
.wp-block-capitainewp-alert.has-icon {
  position: relative;
  padding-left: 80px;

  svg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

// Advice variation
.wp-block-capitainewp-alert.is-variation-advice:not(.is-style-line) {
	border-left: 4px solid darken( $color-advice, 15% );
	background: $color-advice;
	color: white;
}

.wp-block-capitainewp-alert.is-variation-advice.is-style-line {
	border: 1px solid $color-neutral-dark;
	border-top: 3px solid $color-advice;
	background: none;

	.wp-block-capitainewp-alert__title, svg {
		color: $color-advice;
	}
}

// Avoid variation
.wp-block-capitainewp-alert.is-variation-avoid:not(.is-style-line) {
  border-left: 4px solid darken( $color-avoid, 10% );
  background: $color-avoid;
  color: white;
}

.wp-block-capitainewp-alert.is-variation-avoid.is-style-line {
	border: 1px solid $color-neutral-dark;
	border-top: 3px solid $color-avoid;
	background: none;

	.wp-block-capitainewp-alert__title, svg {
		color: $color-avoid;
	}
}

// Warning variation
.wp-block-capitainewp-alert.is-variation-warning:not(.is-style-line) {
  border-left: 4px solid darken( $color-warning, 15% );
  background: $color-warning;
  color: white;
}

.wp-block-capitainewp-alert.is-variation-warning.is-style-line {
	border: 1px solid $color-neutral-dark;
	border-top: 3px solid $color-warning;
	background: none;

	.wp-block-capitainewp-alert__title, svg {
		color: $color-warning;
	}
}

// Info variation
.wp-block-capitainewp-alert.is-variation-info:not(.is-style-line) {
  border-left: 4px solid darken( $color-info, 15% );
	background: $color-info;
  color: white;
}

.wp-block-capitainewp-alert.is-variation-info.is-style-line {
	border: 1px solid $color-neutral-dark;
	border-top: 3px solid $color-info;
	background: none;

	.wp-block-capitainewp-alert__title, svg {
		color: $color-info;
	}
}
