.editor-styles-wrapper {
  .button {
    display: inline-block;
    border: none;
    padding: .4em 1.2em;
    -webkit-appearance: none;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    background-color: #48add8;
    line-height: auto;
    height: auto;
    box-shadow: none;
  }

  .button:hover,
  .button:focus {
    background-color: #48add8;
    box-shadow: none;
    color: white;
  }

  .button,
  .link__meta {
    font-family: 'Rubik', sans-serif;
  }

  .link__meta .block-editor-rich-text {
    display: inline-block;
    min-width: 300px;
  }

  .link__title {
    margin: 0;
    color: #48add8;
    font-size: 19.8px;
  }

  .link__title .block-editor-rich-text {
    display: inline-block;
    margin-left: 5px;
    min-width: 300px;
  }

  .link__desc {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.4;
  }
}
