.link {
  margin: $content-margin 0;
  border: $border;
}
.link__content {
  padding: $pad-xs;
}
.link__favicon {
  width: 20px;
  vertical-align: middle;
  transform: translateY(-2px);
}
.link__title {
  font-size: 1.1em;
  line-height: 20px;
}
.link__site {
  margin-left: 5px;
}
.link__button {
  font-size: 0.8em;
  float: right;
  margin: 0 0 $pad-xs $pad-xs;
}
@media (max-width: 767px) {
  .link__button {
    display: none;
  }
}
.link__desc {
  margin-top: 10px;
  font-size: 0.85em;
  color: #333;
}
@media (min-width: 768px) {
  .link__desc {
    padding-left: 26px;
  }
}
.link__meta {
  color: $txt-light;
  font-size: 0.8em;
  font-weight: 300;
  background: $neutral;
  border-top: border;
}
@media (min-width: 768px) {
  .link__meta {
    padding: $pad-xs $pad-xs $pad-xs 36px;
  }
}
@media (max-width: 767px) {
  .link__meta {
    padding: $pad-xs;
  }
}
.link__meta .pocket-btn {
  float: right;
}
