.wp-block-capitainewp-table-of-contents {
  .wp-block-capitainewp-table-of-contents__title {
    margin: 0;
  }
  .wp-block-capitainewp-table-of-contents__list {
    margin: 20px 0 0 12px;
		padding: 0;
  }

	ul ul,
	ol ol {
		margin: 8px 0;
		padding: 0;
	}

	.wp-block-capitainewp-table-of-contents__list li {
		font-size: 14px;
		line-height: 20px;
	}
}
