.wp-block-capitainewp-definition {
  p {
    margin: 0 !important;
  }

  .wp-block-capitainewp-definition__title {
    font-size: 21.6px;
    line-height: 20px;
  }

  .wp-block-capitainewp-definition__desc {
    line-height: 1.4;
  }

  .wp-block-capitainewp-definition__icon {
    box-sizing: border-box;
  }

  .wp-block-capitainewp-definition__button {
    background-color: #48add8;
    display: inline-block;
    border: none;
    padding: 0.6em 1.2em;
    -webkit-appearance: none;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
  }

  .wp-block-capitainewp-definition__type {
    font-size: 14.4px;
    margin-top: 3px;
  }

  .wp-block-capitainewp-definition__meta p {
    font-size: 1em;
  }
}
