.definition {
  margin: 1.5em 0;
}

.definition__header {
  position: relative;
  border: 1px solid #ddd;
  padding: 12px 12px 6px 60px;
  border-bottom: none;
}

.definition__header:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 85px;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.definition__icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: $neutral;
  border-radius: 50%;
  padding: 10px;
  float: left;
}

.definition__title {
  font-size: 1.2em;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-1;
}

.definition__type {
  text-transform: uppercase;
  color: $color-2;
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 3px;
}

.definition__content {
  padding: $pad-xs;
  padding-top: $pad-s;
  background: $color-1;
  color: #fff;
}

.definition__meta {
  padding: $pad-xs;
  font-size: 0.8em;
  font-weight: 300;
  background: $color-1;
  color: #fff;
}

.definition__meta p {
  margin-top: 3px;
}

.definition__meta a {
  font-weight: 400;
}

.definition__button {
  float: right;
}

@media (min-width: 768px) {
  .definition__button {
    font-size: 0.8em;
  }
}

@media (max-width: 767px) {
  .definition__button {
    padding: 2px 6px;
    font-size: 0.7em;
  }
}
