<div class="wp-block-capitainewp-premium{{customClass}}">
  <div class="premium">
    <p class="premium__title">Premium</p>
    <p>Cette partie du cours est exclusivement réservée aux détenteurs de l'offre premium. Envie de nous rejoindre ?</p>
    <p><a href="{{site.url}}/tarifs" class="button button--line">Choisissez votre formule !</a></p>
  </div>
</div>