.edit-post-visual-editor {
  .aparte {
    margin: 0;
  }
  
  .aparte__title {
    font-size: 1.2em;
    margin-top: 0;
  }

  .aparte__content p {
    margin: 1.5em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

}
