// Structure

$pad-xs: 12px;
$pad-s: 20px;
$pad-m: 40px;
$pad-l: 56px;
$pad-xl: 80px;

$ui-base: pad-l;
$content-max-width: 868px;

// Fonts

$font-size: 18px;
$font-size-mobile: 16px;
$title-font: 'Poppins', sans-serif;
$font: 'Rubik', sans-serif;
$ln-height: 1.4;

// Colors

$ui-dark: #232634;
$ui-contrast: #2F3344;
$ui-light: #575D74;

$txt-color: #202020;
$txt-alt: #444;
$txt-light: #747680;
$txt-light-ondark: #BBBFCE;

$neutral: #f8f8f8;
$neutral-alt: #f1f1f1;
$neutral-dark: #ddd;

$color-1: #48ADD8; // blue
$color-2: #FF2952; // pink
$color-3: #83BD71; // green
$color-4: #FFC334; // yellow
$color-5: #B54D4D; //red

$color-1-hov: darken($color-1, 20%);
$color-2-hov: darken($color-2, 20%);
$color-3-hov: darken($color-3, 20%);
$color-4-hov: darken($color-4, 20%);

// Styles

$transition-speed: .2s;
$radius: 4px;
$border: 1px solid $neutral-dark;
$shadow: 0 1px rgba(0,0,0,.1);
$content-margin: 1.5em 0;