$pad-xs: 12px;
$pad-s: 20px;
$pad-m: 40px;
$pad-l: 56px;
$pad-xl: 80px;

$color-1: #48ADD8;
$color-2: #FF2952;
$color-3: #83BD71;
$color-4: #FFC334;

$color-1-hov: darken($color-1, 20%);
$color-2-hov: darken($color-2, 20%);
$color-3-hov: darken($color-3, 20%);
$color-4-hov: darken($color-4, 20%);

$color-advice: #83BD71;
$color-avoid: #B54D4D;
$color-warning: #FFC334;
$color-info: #48ADD8;

$color-neutral: #f8f8f8;
$color-neutral-alt: #f1f1f1;
$color-neutral-dark: #ddd;

$text-color: #202020;
$text-alt: #444;
$text-light: #747680;
$text-light-ondark: #BBBFCE;

$content-margin: 2.5em;

$title-font: 'Poppins', sans-serif;
$font: 'Rubik', sans-serif;

$radius: 4px;
$transition-speed: .2s;
