$pad-xs: 12px;
$pad-s: 20px;
$pad-m: 40px;
$pad-l: 56px;
$pad-xl: 80px;

$color-1: #48ADD8;
$color-2: #FF2952;
$color-3: #83BD71;
$color-4: #FFC334;

$color-advice: #83BD71;
$color-avoid: #B54D4D;
$color-warning: #FFC334;
$color-info: #48ADD8;

$color-neutral-light: #f8f8f8;
$color-neutral: #ddd;

$content-margin: 2.5em;

$title-font: 'Poppins', sans-serif;
$font: 'Rubik', sans-serif;

$radius: 4px;
