.editor-styles-wrapper {
  .wp-block-captainwp-aparte {
    
    margin: 0;

    a {
      color: white;
      text-decoration: underline;
    }

    .aparte__title {
      font-size: 1.2em;
      margin-top: 0;
    }

    .aparte__content p {
      margin: 1em 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}